body > div{
    display: inline-block;
    width: 1000px;
    margin-left: calc( (100% - 1000px ) / 2 );
    background-color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
     display: inline-block;
     width: 100%;
     margin-top: 20px;
}

header > img{
    display: inline-block;
    float: left;
    height: 50px;
}
 
nav{
    display: inline-block;
    float: right;
    margin-top: 10px;
}

a{
    display: inline-block;
    color: #9E9E9E;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    font-size: 20px;
    line-height: 20px;
}

a:nth-of-type(5){
    border: 3px solid black;
    margin-top: -3px;
    margin-left: 40px;
    text-transform: uppercase;
    border-radius: 50px;
}

main{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}

main > div{
    display: inline-block;
    color: #9E9E9E;
    width: 40%;
    margin-left: 5%;
    margin-top: 30px;
    float: left;
}

h1{
    display: inline-block;
    width: 100%;
    font-size: 60px;
    margin: 0;
}

p{
    display: inline-block;
    width: 100%;
    font-size: 24px;
    margin: 0;
}

main > img{
    display: inline-block;
    float: left;
    width: 45%;
    margin-left: 10%;
}